[submodule "devops-learning"]
	path = devops-learning
	url = https://github.com/nitinkc/devops-learning.git
[submodule "DockerConcepts"]
	path = DockerConcepts
	url = https://github.com/nitinkc/DockerConcepts.git
[submodule "GCP_Kubernetes"]
	path = GCP_Kubernetes
	url = https://github.com/nitinkc/GCP_Kubernetes.git
[submodule "HelmCharts"]
	path = HelmCharts
	url = https://github.com/nitinkc/HelmCharts.git
[submodule "gitlab-spring-app-flux"]
	path = gitlab-spring-app-flux
	url = https://gitlab.com/grp-flux/gitlab-spring-app-flux.git
